data/n8n_workflows/Webhook with gigachat.json
{
  "name": "My workflow",
  "nodes": [
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.body.user_message }}",
        "options": {
          "systemMessage": "Ты умный помошник. Ты должен помогать студентам. \n1. Ты можешь искать в базе данных (используя mcp-server) расписания учебных групп по их названию. Название групп содержит заглавные буквы русского алфавита и 3х значное число. Если учебный год и полугодие не заданы, используй текущие.\n2. Ты можешь искать в базе данных изменения (для некотрого количества групп) по определенной дате.\n3. Отвечать на вопросы о том что ты умеешь, не надо упоминать названия функций mcp server.\n\nВ базе данных хранятся только ссылки на изображения, содержащие расписание и изменения.\n\nСтудентам необходимо отправлять изображения, если они будут в базе данных.\n\nЕсли ссылок на изображение нет, то ничего не придумывай. Укажи группу или дату по которой ты искал и скажи я что не удалось ничего найти.\n\nСейчас 2025/2026 учебный год, 1 полугодие.\n\nОтвечай коротко и на русском языке! "
        }
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        304,
        96
      ],
      "id": "3715716a-7c59-4310-b5ce-10b8dfa9b544",
      "name": "AI Agent",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "endpointUrl": "http://mcp-server:8080/mcp",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        496,
        304
      ],
      "id": "57ed4179-8fd7-4371-9571-eb541e875612",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "model": "GigaChat",
        "options": {}
      },
      "type": "n8n-nodes-gigachat.lmGigaChat",
      "typeVersion": 1,
      "position": [
        272,
        288
      ],
      "id": "66ae1b72-759c-471b-b9cf-789afc280db5",
      "name": "GigaChat Model",
      "credentials": {
        "gigaChatApi": {
          "id": "Uc9vngvNe6TNRy9f",
          "name": "GigaChat account"
        }
      }
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "ai",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -64,
        128
      ],
      "id": "9fc22a85-aae4-42c5-901d-887dce5e33c1",
      "name": "Webhook",
      "webhookId": "ff67d20a-cc08-4867-801b-b80ebed1f7d4"
    }
  ],
  "pinData": {},
  "connections": {
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "GigaChat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "29937446-ede0-4c3b-8eb1-6ab988b4338d",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c0422e6b5b06682de399aa719797b68e76b13b48055a65615dee1a47dc8a9da"
  },
  "id": "Tg5XAr4Y1lPv5lH8",
  "tags": []
}